<div class="container">
  <div class="card">
    <form
      class="form"
      (ngSubmit)="onLogin()"
      name="loginForm"
      [formGroup]="loginForm"
    >
      <div class="form-div">
        <label for="">Email:</label>
        <input formControlName="email" type="email" />
      </div>
      <div class="form-div">
        <label for="">Password:</label>
        <input formControlName="password" type="password" />
      </div>
      <div class="info">
        <span>password must contain:</span>
        <ol>
          <li>At least 8 characters in length</li>
          <li>Lowercase letter</li>
          <li>Uppercase letter</li>
          <li>Number</li>
          <li>Special character</li>
        </ol>
      </div>
      <button type="submit" class="login-btn">Login</button>
    </form>
  </div>
</div>
